<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción a {{ evento.nombre }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Agrega aquí tus enlaces a CSS u otras dependencias si es necesario -->
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Inscripción a {{ evento.nombre_evento }}</h1>

        <form method="post" action="{% url 'inscribirse_evento' evento_id=evento.id %}" class="row g-3">
            {% csrf_token %}

            <!-- Campos del participante -->
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" name="nombre" required>
            </div>

            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido:</label>
                <input type="text" class="form-control" name="apellido" required>
            </div>

            <div class="col-md-6">
                <label for="tel_part" class="form-label">Teléfono:</label>
                <input type="text" class="form-control" name="tel_part" required>
            </div>

            <div class="col-md-6">
                <label for="lugar_procedencia" class="form-label">Lugar de Procedencia:</label>
                <input type="text" class="form-control" name="lugar_procedencia" required>
            </div>

            <div class="col-md-6">
                <label for="fecha_llegada" class="form-label">Fecha de Llegada:</label>
                <input type="date" class="form-control" name="fecha_llegada" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" onclick="return confirmar('¿Estás seguro de que quieres inscribirte?')">Inscribirse</button>
                <a href="javascript:history.back()" class="btn btn-secondary" onclick="return confirmar('¿Estás seguro de que quieres volver atrás?')">Volver Atrás</a>
            </div>
            
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        function confirmar(mensaje) {
            return confirm(mensaje);
        }
    </script>
</body>
</html>